<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voz del Este</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-content">

                <a href="/" class="logo-link">
                    <img src="~/Content/Images/Navbar_Icon.png" alt="Voz del Este" class="logo">
                </a>
                <nav>

                    <a href="@Url.Action("Index","Home")">Inicio</a>
                    <a href="@Url.Action("Index", "RadioPrograms")">Programacion</a>
                    <div class="dropdown">
                        <a class="dropdown-toggle">
                            Noticias
                            <span class="dropdown-arrow"></span>
                        </a>
                        <div class="dropdown-menu">
                            <a href="@Url.Action("IndexPolicial", "News")" class="dropdown-item">Policial</a>
                            <a href="@Url.Action("IndexEconomia", "News")" class="dropdown-item">@Html.Raw("Econom&#237;a")</a>
                            <a href="@Url.Action("IndexDeportes", "News")" class="dropdown-item">Deportes</a>
                            <a href="@Url.Action("IndexTurismo", "News")" class="dropdown-item">Turismo</a>
                            <a href="@Url.Action("IndexEmpresarial", "News")" class="dropdown-item">Empresarial</a>
                            <a href="@Url.Action("IndexPolitica", "News")" class="dropdown-item">@Html.Raw("Pol&#237;tica")</a>
                            <a href="@Url.Action("IndexClima", "News")" class="dropdown-item">Clima</a>
                            <a href="@Url.Action("IndexTransporte", "News")" class="dropdown-item">Transporte</a>
                            <a href="@Url.Action("IndexInternacional", "News")" class="dropdown-item">Internacional</a>
                        </div>
                    </div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Logout", "Account")">Cerrar sesion</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")">Iniciar sesion</a>
                    }


                </nav>
                <div class="navbar-clima">
                    <div class="clima-icon" id="navbarClimaIcon">
                        <img src="" alt="Icono del clima" style="width: 40px; height: 40px; display: none;">
                    </div>
                    <div class="clima-info">
                        <div class="clima-temp" id="navbarTemp"></div>
                        <div class="clima-estado" id="navbarEstado"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">


        @RenderBody()

    </div>
    <hr />
    <footer class="footer">
        <div class="container">
            <p><i class="fa-regular fa-copyright"></i> @DateTime.Now.Year Voz del Este - Todos los derechos reservados</p>
            <p>

                <a href="#"><i class="fa-solid fa-envelope"></i> Contacto</a> |
                <a href="#"><i class="fa-brands fa-square-instagram"></i> Instagram</a> |
                <a href="#"><i class="fab fa-facebook-f"></i> Facebook</a> |
                <a href="#"><i class="fa-brands fa-square-x-twitter"></i> Twitter</a>
            </p>
            <p style="margin-top: 10px; color: #81c784;">
                <i class="fa-solid fa-location-dot"></i> Maldonado, Uruguay @Html.Raw("&#8226") <i class="fa-solid fa-square-phone"></i> +598 42 123456 @Html.Raw("&#8226; &#128251; FM 101.5")
            </p>
        </div>
    </footer>


    @*@Scripts.Render("~/bundles/main")*@
    @Scripts.Render("~/bundles/clima")
    @Scripts.Render("~/bundles/DropDown")
    @RenderSection("scripts", required: false)


</body>
</html>
