@model ProyectVDEradio.Models.News
@{
    ViewBag.Title = "Details";
}

<section class="section">

    <h2>@Model.ArticleTitle</h2>
    <div class="noticia-grid">



        <article class="noticia-item">
            <img src="@Model.ArticleImage" alt="Noticia" style="noticia-item ; height: 450px;">
            <div class="noticia-content">
                <h4>@Model.ArticleSubtitle</h4>
                <p>@Model.ArticleContent</p>

            </div>
        </article>

    </div>

    <div class="back-link">
        <a href="@Url.Action("Index", "Home")" class="back-link a" style="color:black">
            ← Volver atras
        </a>
    </div>

</section>