@model ProyectVDEradio.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";

    var currentTime = DateTime.Now.TimeOfDay;
    var currentDay = (int)DateTime.Now.DayOfWeek;
}

<section class="section">
    <h2>📻 Programa en vivo</h2>
    @if (Model.ProgramaEnVivo != null)
    {
        <div class="programa-box">
            <div class="program-image-container">
                <img src="~/Content/Images/@Model.ProgramaEnVivo.Image" alt="Imagen del programa">
            </div>
            <div class="programa-info">
                <h3>@Model.ProgramaEnVivo.ProgramName</h3>
                <p>@Model.ProgramaEnVivo.Description</p>
                <p>
                    <strong>Conducido por:</strong>
                    @foreach (var ph in Model.ProgramaEnVivo.ProgramHosts)
                    {

                    <p> @ph.Hosts.HostName</p>

                }
                    </p>
                    <p><strong>Horario:</strong> @Model.ProgramaEnVivo.StartTime - @Model.ProgramaEnVivo.EndTime</p>
                    <p>
                        <strong>Días de emisión:</strong>
                        @string.Join(" - ", Model.ProgramaEnVivo.ProgramDays
                            .OrderBy(d => d.WeekDay)
                            .Select(d => System.Globalization.CultureInfo
                                .CurrentCulture
                                .DateTimeFormat
                                .GetDayName((DayOfWeek)d.WeekDay)))
                    </p>

                    <p><strong>En vivo desde:</strong> Maldonado, Uruguay</p>
                </div>
            </div>
        }@if (Model.ProgramaEnVivo == null)
    {
        <div class="programa-box">
            <div class="programa-info">
                <h3>No hay Programa en vivo ahora mismo para mostrar :)</h3>
                <h3>Nuestro anterior programa fue @Model.ultimoProgramaEmitido.ProgramName</h3>
            </div>
        </div>
    }
    </section>


    @if (Model.ProgramaEnVivo != null)
    {
        <section class="section">

            <h2>Comentarios de Oyentes de @Model.ProgramaEnVivo.ProgramName</h2>

            <div class="comentario-box">

                @foreach (var ph in Model.ProgramaEnVivo.CustomersComments)
                {

                    <p><strong>@ph.Customers.CustomerName</strong>:   @ph.Comment</p>

                }
                @if (Model.ProgramaEnVivo.CustomersComments.Count == 0)
                {
                    <p>No hay comentarios de oyentes para este programa en vivo.</p>
                }



            </div>
        </section>
    }@if (Model.ProgramaEnVivo == null)
    {
        <section class="section">

            <h2>Comentarios de Oyentes de @Model.ultimoProgramaEmitido.ProgramName (Ya emitido)</h2>

            <div class="comentario-box">

                @foreach (var ph in Model.ultimoProgramaEmitido.CustomersComments)
                {

                    <p><strong>@ph.Customers.CustomerName</strong>:   @ph.Comment</p>

                }

            </div>
        </section>

    }


    <section class="section">
        <h2>📰 Últimas Noticias</h2>
        <div class="noticia-grid">

            @foreach (var noticia in Model.Noticias.Take(4))
            {
                <article class="noticia-item">
                    <img src="@noticia.ArticleImage" alt="Noticia" style="noticia-item">
                    <div class="noticia-content">
                        <h4>@noticia.ArticleTitle</h4>
                        <p>@noticia.ArticleSubtitle</p>
                    </div>
                </article>
            }

        </div>
    </section>

    @foreach (var categoria in Model.Noticias)
    {

    }
    <section class="section">
        <h2>📰 Últimas Noticias de Deportes</h2>
        <div class="noticia-grid">

            @foreach (var noticia in Model.Noticias.Where(n => n.Categories.CategoryName == "Deportes").Take(3))
            {
                <article class="noticia-item">
                    <img src="@noticia.ArticleImage" alt="Noticia" style="noticia-item">
                    <div class="noticia-content">
                        <h4>@noticia.ArticleTitle</h4>
                        <p>@noticia.ArticleSubtitle</p>
                    </div>
                </article>
            }

        </div>
    </section>
    <section class="section">
        <h2>📰 Últimas Noticias de Politica</h2>
        <div class="noticia-grid">

            @foreach (var noticia in Model.Noticias.Where(n => n.Categories.CategoryName == "Política").Take(3))
            {
                <article class="noticia-item">
                    <img src="@noticia.ArticleImage" alt="Noticia" style="noticia-item">
                    <div class="noticia-content">
                        <h4>@noticia.ArticleTitle</h4>
                        <p>@noticia.ArticleSubtitle</p>
                    </div>
                </article>
            }

        </div>
    </section>
    <section class="section">
        <h2>📰 Últimas Noticias de Turismo</h2>
        <div class="noticia-grid">

            @foreach (var noticia in Model.Noticias.Where(n => n.Categories.CategoryName == "Turismo").Take(3))
            {
                <article class="noticia-item">
                    <img src="@noticia.ArticleImage" alt="Noticia" style="noticia-item">
                    <div class="noticia-content">
                        <h4>@noticia.ArticleTitle</h4>
                        <p>@noticia.ArticleSubtitle</p>
                    </div>
                </article>
            }

        </div>
    </section>
    <section class="section">
        <h2>📰 Últimas Noticias Internacionales</h2>
        <div class="noticia-grid">

            @foreach (var noticia in Model.Noticias.Where(n => n.Categories.CategoryName == "Internacional").Take(3))
            {
                <article class="noticia-item">
                    <img src="@noticia.ArticleImage" alt="Noticia" style="noticia-item">
                    <div class="noticia-content">
                        <h4>@noticia.ArticleTitle</h4>
                        <p>@noticia.ArticleSubtitle</p>
                    </div>
                </article>
            }

        </div>
    </section>